<h1>Hello, <%= current_user.name %></h1>

<p>bouton pour créer des ventes si user = admin</p>
<%= button_to "Create an auction", new_auction_path %>


<p>bouton pour voir les ventes</p>

<p>bouton pour voir les bid effectués</p>


